[package]
name = "core"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
bincode = "1.3"
risc0-zkvm = { version = "0.19" }
rand = { version = "0.8", optional = true }

[features]
rand = ["dep:rand"]